@page "/chat"
@rendermode InteractiveServer

<h1>Chat @Messages.Count()</h1>
<button @onclick="Clear">Clear</button>
<div class="chat-container">
   @foreach (var message in Messages)
   {
        <ChatMessageComponent Message="@message" />
   }
</div>

<UsersOnline AllUsersOnline="UsersOnline"/>


<input @bind="@Username" />
<input @bind="@Message" />
<button @onclick="SendMessage">Send Message</button>
