
<div class="chat-message">
    <div class="message-info">
        <span class="username">@Message.Username</span>
        <span class="timestamp">(@Message.Timestamp.ToString("h:mm tt"))</span>
    </div>
    <div class="message-text">@Message.Message</div>
</div>

@code {
    [Parameter]
    public Orleans.Silo.Primitives.ChatMessage Message { get; set; } = null!;
}
