@page "/chat"
@rendermode InteractiveServer
@inject IClusterClient ClusterClient


<h1>Chat @Messages.Count()</h1>

<div class="chat-container">
   @foreach (var message in Messages)
   {
        <ChatMessageComponent Message="@message" />
   }
</div> 

<input @bind="@Username" />
<input @bind="@Message" />
<button @onclick="SendMessage">Send Message</button>
