@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Chatty! This is a chat application.</h1>

Chatty is built on Blazor and Microsoft Orleans, running locally on Microsoft Aspire to provide a F5 experience.
